<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}" />
<meta name="description" content="{$SEO['description']}" />
<meta name="baidu-site-verification" content="rqcPjxFAkpIG7BIv" />
<meta property="qc:admins" content="60000141076161656367" />
<meta property="wb:webmaster" content="cc5ee7975c214304" />
<link type="text/css" rel="stylesheet" href="{CSS_PATH}universal.css"/>
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.KinSlideshow-1.1.js"></script>
</head>
<body>
<div class="zstart-header" id="zstart-header">
  <div class="zstart-aux">
    <h1> <a href="#"><img alt="{L('index_logo_alt')}"  src="{IMG_PATH}logo.png" width="202" height="63" /> </a> </h1>
    <div class="zstart-hinfo">
      <div class="hinfo-plus">
        <ul>
             <li>享众网：<span>我们致力为你推荐最适合你的数码产品。</span> </li>
        </ul>
      </div>
      <br />
      <script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="350" height="26" frameborder="0" scrolling="no"></iframe>')</script>
    </div>
  </div>
</div>
<div id="zstart-nav" class="zstart-nav">
  <div class="zstart-aux">
  <a id="tg" href="http://inave.cn/index.php?m=search" class="maia-button get-started" target="_blank">{L('all_search')}</a> <a id="cy" href="http://www.inave.cn/bbs/" class="maia-button2 get-started" target="_blank">{L('to_help')}</a>
  {pc:content action="category" catid="0" num="25"  order="listorder ASC"}
    <ul>
      <li><a href="index.php">首页</a> </li>
	  {loop $data $r}
			<li><a href="{$r[url]}">{$r[catname]}</a></li>
	  {/loop}
	  <li><a href="http://www.inave.cn/bbs/" target="_blank">论坛</a></li>
    </ul>
   {/pc}
  </div>
</div>
<br />